Repository G1Ser/weatherv1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,vue}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,css,scss}": ["prettier --write"]
}

fix: 引入lit组件
  .eslintignore
  .lintstagedrc.json
  .prettierignore
  src/api/gmap.ts
  src/components/Header.vue
  src/lib/g1-components.es.d.ts
  src/lib/g1-components.es.js
  src/main.ts
  src/shared/chunks/lit-DBvanXZV.js
  src/shared/chunks/three-Cco-8nUd.js
  src/shared/index.d.ts
  src/shared/index.js
  src/shared/introScroll/index.d.ts
  src/shared/introScroll/index.js
  src/shared/introScroll/introScroll.d.ts
  src/shared/introScroll/shaders.d.ts
  src/shared/skeleton/index.d.ts
  src/shared/skeleton/index.js
  src/shared/skeleton/skeleton.d.ts
  src/shared/svgIcon/index.d.ts
  src/shared/svgIcon/index.js
  src/shared/svgIcon/svgIcon.d.ts
  src/shared/toast/index.d.ts
  src/shared/toast/index.js
  src/shared/toast/toast.d.ts
  src/utils/http/index.ts
  tsconfig.json
  types/g1.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: 添加g1-intro-scroll组件
  .eslintrc.js
  src/App.vue
  src/main.ts
  src/plugins/shared-ui.ts
  types/g1.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 2b12c7dfac24ab618a298ce49abd0c6276da4550
  css/main-492e70e9.css
  css/main-e2b734e4.css
  index.html
  js/211-3bcac322.js
  js/554-23683b63.js
  js/96-10452ecf.js
  js/96-7a1ed204.js
  js/g1-vendor-f9db1a3d.js
  js/main-7c08712f.js
  js/main-90a71b70.js
Due: prettier --write

feat: 新增卷轴介绍项目 开启GPS定位
  src/App.vue
  src/shared/introScroll/index.js
  src/shared/introScroll/introScroll.d.ts
  src/store/modules/IP.ts
Due: prettier --write, eslint --fix --max-warnings=0

deploy: f7719f5a31476439b1a0cd5327468201afcf8610
  css/main-e4124098.css
  index.html
  js/211-c9f0c100.js
  js/main-90a71b70.js
  js/main-d895078a.js
Due: prettier --write

docs: 归档项目
  README.md
Due: none

deploy: 1bcb24b17a4f6f8a792594385c39ac35702eb43f
  index.html
  js/main-e7f828ef.js
Due: none

deploy: 0284593a2aadc632336e2af270bffdc91284ca67
  index.html
  js/main-b854940d.js
Due: none

deploy: fe8ea04696687e12f39f04f015a8c520339daeef
  css/main-c8b13275.css
  index.html
  js/main-b854940d.js
  js/main-e4c5d348.js
Due: prettier --write

fix: 定位失败报错修改
  src/App.vue
Due: prettier --write, eslint --fix --max-warnings=0

deploy: b370e294b2e3c42a89210254a442666bd4bdee19
  index.html
  js/main-8333df56.js
Due: none

fix: 添加env样例文件
  .env.example
  .gitignore
Due: none

deploy: 0d25e2b2e4016b02423b6ad257f982de72903267
  index.html
  js/main-d1f4fb4a.js
Due: none

deploy: dcfb2a1644a1519187e588f7291095922fd7e6dc
  css/main-35f51454.css
  index.html
  js/main-d1f4fb4a.js
  js/main-fbddba15.js
Due: prettier --write

fix: 定位时间延长
  src/App.vue
Due: prettier --write, eslint --fix --max-warnings=0

deploy: a69ac8f9405a2b662175ebc0303a764f9d361ed9
  index.html
  js/main-2ee78f1d.js
Due: none

fix: 异步引入introscroll
  src/App.vue
  src/plugins/shared-ui.ts
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 85de9ffc294dc3f6e56701450f531ddcf5426504
  css/main-610afec6.css
  index.html
  js/main-2ee78f1d.js
  js/main-a903e98d.js
Due: prettier --write

fix: 使用g1 mobile优化版本
  .npmrc
  package.json
  pnpm-lock.yaml
  src/shared/chunks/lit-DBvanXZV.js
  src/shared/chunks/lit-DTsLoCx_.js
  src/shared/chunks/three-Cco-8nUd.js
  src/shared/chunks/three-Ikwtya61.js
  src/shared/index.d.ts
  src/shared/index.js
  src/shared/introScroll/index.js
  src/shared/introScroll/introScroll.d.ts
  src/shared/introScroll/shaders.d.ts
  src/shared/skeleton/index.js
  src/shared/skeleton/skeleton.d.ts
  src/shared/svgIcon/index.js
  src/shared/svgIcon/svgIcon.d.ts
  src/shared/toast/index.js
  src/shared/toast/toast.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 0409e91990b39256420190d7cbfed3f75c852419
  css/878-4d688342.css
  index.html
  js/211-c9f0c100.js
  js/564-d6a1bfab.js
  js/643-1f28a321.js
  js/878-8dfeee10.js
  js/96-7a1ed204.js
  js/echarts-vendor-dc9241f0.js
  js/echarts-vendor-f6b965b8.js
  js/main-7d794c1a.js
  js/main-a903e98d.js
  js/utils-vendor-0f37f906.js
  js/utils-vendor-578bb5c0.js
  js/vue-vendor-327e7151.js
  js/vue-vendor-546bdd9f.js
Due: prettier --write
