Repository G1Ser/weatherv1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "src/**/*.{js,ts,vue}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,css,scss}": ["prettier --write"]
}

deploy: aa53de0a3731901b363a95f567283afa4a7349c8
  css/664-a9e8b1de.css
  css/821-a59a62f3.css
  css/main-4de4e4bd.css
  index.html
  js/664-e3470967.js
  js/821-8a5392dd.js
  js/main-200484cc.js
  js/main-d60be5e4.js
Due: prettier --write

feat: 打包分析
  package.json
  pnpm-lock.yaml
  webpack.config.js
Due: prettier --write

deploy: bff3a80e47506eee0f39da506af7e28c722d7ce7
  index.html
  js/main-200484cc.js
  js/main-a2026d46.js
Due: none

deploy: 789cd34deae1db3f07f4343590e9160bbd343dfe
  css/main-f100571c.css
  index.html
  js/main-7cf3676d.js
  js/main-a2026d46.js
Due: prettier --write

deploy: aa53de0a3731901b363a95f567283afa4a7349c8
  css/main-4de4e4bd.css
  index.html
  js/main-7cf3676d.js
  js/main-b3d3df85.js
Due: prettier --write

deploy: bff3a80e47506eee0f39da506af7e28c722d7ce7
  index.html
  js/main-7941b646.js
  js/main-b3d3df85.js
Due: none

perf: 优化构建配置和资源加载性能
  .eslintignore
  package.json
  pnpm-lock.yaml
  src/assets/fonts/consolas.ttf
  src/assets/fonts/consolas.woff2
  src/assets/fonts/lxgwscreen.ttf
  src/assets/fonts/lxgwscreen.woff2
  src/constant/console-style.ts
  src/main.scss
  src/main.ts
  src/utils/git/index.ts
  src/utils/performance/index.ts
  webpack.config.js
  webpack/module.config.js
  webpack/optimization.config.js
  webpack/performance.config.js
  webpack/plugin.config.js
  webpack/server.config.js
Due: prettier --write, eslint --fix --max-warnings=0

deploy: d4f2e4b4b5a0e4f1f84f1d02a7a6cc68c7e72a68
  css/main-4daa3448.css
  fonts/consolas-8480b7e4.ttf
  fonts/consolas-d6337fc9.woff2
  fonts/lxgwscreen-35fde1d4.woff2
  fonts/lxgwscreen-f0e46f22.ttf
  index.html
  js/main-7941b646.js
  js/main-958ea151.js
Due: prettier --write

fix: 修改performance打印样式
  src/utils/performance/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

deploy: ee55fba773c1bd13a64076359bcc0d30c9e4f174
  index.html
  js/main-958ea151.js
  js/main-fc002522.js
Due: none

feat: 完成toast组件
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/assets/svgs/error.svg
  src/assets/svgs/success.svg
  src/components/Header.vue
  src/utils/toast/index.ts
  src/utils/toast/toast.scss
  src/utils/toast/toast.tsx
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 202668045c15a79fed7932ba4809efbebfa6c584
  css/main-91d21b00.css
  index.html
  js/128-38d9dea8.js
  js/91-97c6032d.js
  js/main-dccdad42.js
  js/main-fc002522.js
Due: prettier --write

fix: 修复toast动画样式 修复City页面骨架屏不加载的问题
  src/utils/toast/toast.scss
  src/views/City.vue
  src/views/Home.vue
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 69eb4cceb32e7fafaa16fe7dd745626dac4934f6
  css/105-65e4cf7f.css
  css/664-a9e8b1de.css
  css/main-07ca4aa0.css
  index.html
  js/105-54a10b1b.js
  js/664-e3470967.js
  js/main-b952a9a2.js
  js/main-dccdad42.js
Due: prettier --write

fix: 修复header收藏按钮显示问题 固定header位置
  src/App.vue
  src/components/Header.vue
  src/utils/http/index.ts
  src/views/Home.vue
  webpack/server.config.js
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 4659ffd358a607dd6b0fc8245821f18acd64d772
  css/main-0d012270.css
  index.html
  js/main-b952a9a2.js
  js/main-c5bd1f95.js
Due: prettier --write

fix: 修复本地可以添加进收藏夹bug
  .github/workflows/deploy.yml
  src/components/Header.vue
  src/store/modules/IP.ts
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 8c595e0322010d73b4883171280a00442a83da79
  css/main-18cf6e18.css
  index.html
  js/main-46ad2851.js
  js/main-c5bd1f95.js
Due: prettier --write

feat: 项目完成 添加收藏夹上限 添加手机样式
  src/App.vue
  src/assets/svgs/info.svg
  src/components/Header.vue
  src/utils/toast/index.ts
  src/utils/toast/toast.scss
  src/utils/toast/toast.tsx
Due: prettier --write, eslint --fix --max-warnings=0

deploy: c7aa31e369c2665041b1eb9181159afa42ea608e
  css/main-1e863886.css
  index.html
  js/399-cae4efd9.js
  js/main-46ad2851.js
  js/main-f58cf5c3.js
Due: prettier --write

test: 测试工具函数weather-icon format-weather-casts
  .eslintignore
  .gitignore
  CLAUDE.md
  README.md
  jest.config.js
  package.json
  pnpm-lock.yaml
  tests/__mocks__/gmap.ts
  tests/format-weather-casts.test.ts
  tests/weather-icon.test.ts
  tsconfig.json
Due: prettier --write

deploy: 304f5da1e1272b190e910dda3470ff41fb76de53
  css/894-65e4cf7f.css
  index.html
  js/105-54a10b1b.js
  js/894-c16f9844.js
  js/echarts-vendor-98946a09.js
  js/echarts-vendor-dc9241f0.js
  js/main-acb1891e.js
  js/main-f58cf5c3.js
Due: prettier --write

feat: 增加push type检查
  .husky/pre-push
Due: none

deploy: 844b76093ea2015741694b187d1d55f321de5b90
  index.html
  js/main-acb1891e.js
  js/main-e96cdca3.js
Due: none

fix: 修复配置文件
  .babelrc
  .eslintignore
  .gitignore
  .prettierignore
  jest.config.js
  package.json
Due: prettier --write

docs: 更新文档 完成项目
  CLAUDE.md
  README.md
Due: none

deploy: 6712bcb01bdc9528c892d90adb3ac94a85cf9f9e
  index.html
  js/main-9db05af8.js
  js/main-e96cdca3.js
Due: none

fix: 修改后端接口名称
  .github/workflows/deploy.yml
  src/api/gmap.ts
Due: prettier --write, eslint --fix --max-warnings=0

deploy: cef2e9cd733ac1fa3347657733ec040a0972f08f
  index.html
  js/main-14a34a95.js
  js/main-9db05af8.js
Due: none

deploy: 51ccb9f595daadcdf6a1a7fb3b2998e7ed824276
  index.html
  js/main-14a34a95.js
  js/main-fa25f4d6.js
Due: none

fix: 修复有特殊环境变量不读取通用环境变量的bug
  webpack/plugin.config.js
Due: none

chore: 调整打包配置
  package.json
  pnpm-lock.yaml
  webpack/optimization.config.js
  webpack/plugin.config.js
Due: prettier --write

docs: 更新文档
  README.md
Due: none

deploy: d751c7333a7bc7f46f7824b1fc6fdd7400798c1f
  index.html
  js/main-25e5fa66.js
  js/main-ce10d98a.js
Due: none

fix: 使用新接口 移除旧接口
  .github/workflows/deploy.yml
  src/api/gmap.ts
  src/store/modules/IP.ts
  src/types/gmap.ts
  src/utils/gmap/index.ts
  src/views/Home.vue
Due: prettier --write, eslint --fix --max-warnings=0

deploy: 8120145d05a8a5abda97d24c2540d81ef2af0c51
  css/main-492e70e9.css
  index.html
  js/main-25e5fa66.js
  js/main-7c08712f.js
Due: prettier --write

fix: 替换新接口
  .github/workflows/deploy.yml
  CLAUDE.md
  src/App.vue
  src/api/gmap.ts
  src/store/modules/IP.ts
  src/types/gmap.ts
  src/utils/gmap/index.ts
  src/views/Home.vue
  types/env.d.ts
Due: prettier --write, eslint --fix --max-warnings=0
